<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>23/24 스키팀 입부 신청</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class = "backGround">
        <div class = 'floatContainer'>
                <div class = 'application-container'>
                    <div class = 'thanks'>
                        지원해주셔서 <br>
                        감사합니다<br>
                        <br>
                        <br>
                        <a href="/home/">돌아가기</a>
                    </div>
                    

                </div>
        </div>
    </div>
</body>
</html>